.contain{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left:2em;
    margin-right: 2em;
    gap: 0.5em;
    width: 100%;
    position: relative;
    padding-bottom: 40px;
}
.card{
    /* border: 1px solid; */
    padding: 1em;
    text-align: center;
    position: relative;
    overflow: visible;
    /* height: calc(100vh/3.45); */
    cursor: pointer;
    
}

.description{
    position: absolute;
    transform: translateX(80%) translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s ease, transform 1s ease;
    }
.card:hover .description {
    opacity: 1;
    z-index: 15;
    transform: translateX(68%) translateY(0%);
    padding: 0.75em;
    width: 60%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
  
}
.images{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
