.contain {
    position: sticky;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 90px;
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: aliceblue;
    transition: transform 0.9s ease, opacity 0.5s ease;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  /* visible */
  .show {
    transform: translateY(0);
    opacity: 1;
  }
  
  /* hidden */
  .hide {
    transform: translateY(-100%);
    opacity: 0;
  }
  